.created {
    /* background: #b8c7cc;
       background: linear-gradient(90deg, rgba(184, 199, 204, 1) 0%, rgba(255, 255, 255, 0) 100%);     */
}

.deployed {
    background: #b8c7cc;
    background: linear-gradient(90deg, rgba(184, 199, 204, 1) 0%, rgba(255, 255, 255, 0) 100%);    
}

.provisioned {
    background: #d7ebf7;
    background: linear-gradient(90deg, rgba(215, 235, 247, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.edited {
    background: #f7f3d7;
    background: linear-gradient(90deg, rgba(247, 243, 215, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.registered {
    background: #d7f7de;
    background: linear-gradient(90deg, rgba(215, 247, 222, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.other {
    background: #f7dbd7;
    background: linear-gradient(90deg, rgba(247, 219, 215, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
